*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 2em;
}
h1{
    text-align: center;
    margin: 20px;
}

.box {
    background: #9E9E9E;
    border: black 1px solid;
}

button{
    padding: 0.5rem 0.75rem;
    margin: 1rem;
}
.painted-box{
    background: #000;
}
