*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
}

.box {
    background: #9E9E9E;
    border: black 1px solid;
    float: left;
}

.row {
    float:left;
    width:100%;
}

.painted-box{
    background: #000;
}
